p {
    color: aquamarine;
    font-size: large;
}

.lista {
    background-color: blanchedalmond;
    border: 1.5px;
    border-radius: 0.75px;
}

h1 {
    
}

.titulo {	
    border: 1.5px solid blueviolet;
    border-radius: 2.75px;
}

.container {
    display: flex;
<<<<<<< HEAD
    justify-content: end;
    align-items: center;
    border: 2px solid red;
    background-color: violet;
}
=======
    
    
}
 .titulo img {
    width: 80px;
 }
>>>>>>> b06b05983195b7e79aee23427884e836f28f0ff4
