p {
    color: rgb(39, 39, 93);
    margin-left: 10px;

}

h1 {
    color: rgb(39, 39, 93);
    font-weight: bolder;
    margin-left: 10px;

}

h2 {
    color: rgb(39, 39, 93);
    font-weight: bolder;
    margin-left: 10px;

}

header {
    background-color: rgb(208, 148, 213);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleHeader {	
    width: 50%;
}

.imageLogo {
    width: 50%;
    display: flex;
}

 .imageLogo img {
    margin-left: 10px;
    width: 2.5rem;
 }
.hola {
    margin-left: 20px;
}
 .lista {
    background-color: rgb(233, 191, 207);
    border: 1.5px;
    border-radius: 0.75px;
    width: 30%;
    margin-left: 30px;

}

.lorem {
    width: 95%;
    margin-left: 10px;
}

 .container {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: violet;
    
}